a{
    color:#0085a1;
}

.navbar{
    background-color: #509CB5;
}
.intro-header{
    height:100vh;
}
.list-deroulant{
    display:none;
}
.liste-deroulant:hover .list-deroulant {
    display:block;
}